<div>
<% if @recipe.public || @recipe.user == current_user %>
<h1 class="show-recipe-heading">Recipe 1</h1>
    <h2 class="show-recipe-name"><%= @recipe.name %></h2>

    <div>
    <div>
      <p>Preparation time: <b><%= @recipe.preparation_time_hours %> hours</b></p>
      <div>
        <span>Public</span>
        <% if @recipe.public %>
          <i></i>
        <% else %>
          <i></i>
        <% end %>
      </div>
    </div>
    <p>Cooking time: <b><%= @recipe.cooking_time_hours %> hours</b></p>
    <p class="fs-5"><%= @recipe.description %></p>
  </div>


  <div>
    <button type="button"
    id="generate-shopping-list"
      class="btn btn-primary"
      data-bs-toggle="modal"
      data-bs-target="#staticBackdrop">
        Generate shopping list
    </button>

    <% if @recipe.user == current_user %>
    <button class="add-ingredient-button">
    <%= link_to "Add ingredient", new_recipe_food_path(recipe_id: @recipe.id) %>
    </button>
    <% end %>
  </div>

  
    <hr>


    
      <% if @recipe_foods.empty? %>
        <h4>No foods have been added yet.</h4>
      <% else %>

      <table>
    <thead>
      <tr>
        <th>Food</th>
        <th>Quantity</th>
        <th>Value</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
        <% @recipe_foods.each do | recipe_food | %>
          <tr>
        <td><div><%= recipe_food.food.name %></div></td>
        <td><div><%= recipe_food.quantity %> <%= recipe_food.food.measurement_unit %></div></td>
        <td><div><b>$<%= recipe_food.food.price_dollars * recipe_food.quantity %></b></div></td>
        <td class="action">
        <div>

        <%= link_to "Remove", recipe_food_path(recipe_id: @recipe.id, id: recipe_food.id), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "btn btn-danger" %>
      </div>
        </td>
      </tr>
        <% end %>
    </tbody>
  </table>
      <% end %>
      
  <% else %>
    <h4>You are not authorized to see this recipe.</h4>
<% end %>
</div>






