<div>
  <% if @recipe.public || @recipe.user == current_user %>
  <h1><%= @recipe.name %></h1>
  <div>
    <div>
      <p>Preparation time: <%= @recipe.preparation_time_hours %> minutes</p>
      <div>
        <span>Public</span>
        <% if @recipe.public %>
          <i></i>
        <% else %>
          <i></i>
        <% end %>
      </div>
    </div>
    <p>Cooking time: <%= @recipe.cooking_time_hours %> minutes</p>
    <p class="fs-5">Steps go here..</p>
  </div>
  <div>
    <button type="button"
      class="btn btn-primary"
      data-bs-toggle="modal"
      data-bs-target="#staticBackdrop">
        Generate shopping list
    </button>
    <%= link_to "Add ingredient", new_recipe_food_path(recipe_id: @recipe.id), class: "btn btn-primary m-1" if @recipe.user == current_user %>
  </div>
  <% else %>
    <h1>You are not authorized to see this recipe.</h1>
  <% end %>
  <% if @recipe_foods.empty? %>
    <h4>No foods added yet.</h4>
  <% else %>
    <ul>
        <li>
          <div><b>Food</b></div>
          <div><b>Quantity</b></div>
          <div><b>Value</b></div>
          <div><b>Actions</b></div>
        </li>
        <% @recipe_foods.each do | recipe_food | %>
          <li>
            <div><%= recipe_food.food.name %></div>
            <div><%= recipe_food.quantity %></div>
            <div>
    
              <%= link_to "Remove", recipe_food_path(recipe_id: @recipe.id, id: recipe_food.id), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "btn btn-danger" %>
            </div>
          </li>
        <% end %>
      </ul>
  <% end %>
</div>

<div>
  <div>
    <div>
      <div>
        <h5 id="staticBackdropLabel">Generating Shopping List</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      
    </div>
  </div>
</div>