<!DOCTYPE html>
<html>
  <head>
    <title>RecipeApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <nav>
  <div>
    <%= link_to "Recipe App", root_path, id: "recipe-app" %>
    </button>
    <div id="navbarSupportedContent">
      <% if user_signed_in? %>
      <ul id="menu-main">
        <li>
          <%= link_to "Recipes", recipes_path, class: "nav-link" %>
        </li>
        <li>
          <%= link_to "Public Recipes", public_recipes_path, class: "nav-link" %>
        </li>
        <li>
          <%= link_to "Inventories", inventories_path, class: "nav-link" %>
        </li>
        <li>
          <%= link_to "Add Food", new_food_path, class: "nav-link" %>
        </li>
      </ul>
      <% end %>
      <ul id="signin-up-menu">
      <% if user_signed_in? %>
        <li>
          <%= button_to "Sign out", destroy_user_session_path, method: :delete, class: "btn btn-warning mb-1" %>
        </li>
      <% else %>
        <li>
          <%= link_to "Sign In", new_user_session_path, class: "nav-link" %>
        </li>
        <li>
          <%= link_to "Sign Up", new_user_registration_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
    </div>
  </div>
</nav>
    <% if notice %> <p class="alert alert-success"><%= notice %></p> <% end %>
    <% if alert %> <p class="alert alert-danger"><%= alert %></p> <% end %>
    <%= yield %>
  </body>
</html>
